---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
	<h1>Nail Care Tips & Trends</h1>
	<ul>
		<li><a href="/blog/gel-vs-acrylic">Gel vs Acrylic: Which is Right for You?</a></li>
		<li><a href="/blog/prepare-for-appointment">How to Prepare for Your Nail Appointment</a></li>
	</ul>
</Layout>


